# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/*.tfvars.json
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
